h1{
	font-size: 40pt;
	color:#F7931E;
	text-shadow: 3px -3px green;
}
h2{
	color:#F7931E;
}
dd, dt{
	font-size: 70%;
}
body{
	font-family: "Helvetica";
	background-color: #1D2475;
	color: #939396;
	background-image: url("./cse326bg.jpg");
	background-repeat: no-repeat;
	background-position: 800px 0px;
	background-attachment: fixed;
}
.sp{
	font-size: 150%;
	font-weight: bold;
}
a{
	color:#FF4F4F;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
dt{
	color:#FFF86B;
}
strong{
	color:#FFF86B;
}
q{
	color:#D1DFEB;
}
ul, ol, blockquote{
	text-align: left;
}
ul {
	list-style-type:square; 
}
table td,th{
	border-style:dotted;
}
table{
	border-collapse: collapse;
}
.game{
	border:2px solid #F7931E;
}




/*body{
	color:#939396;
	background-color:#1D2475;
	font-family: sans-serif;
}
h1{
	font-size:40pt;
	color:#F7931E;
	text-shadow: 3px -3px green;
}
h2{
	color:#F7931E;
}
dl{
	text-align: left;
	font-size:70%;
	font-weight: bold;
}
dt{
	color: #FFF86B;
}
p{
	font-weight: bold;
}
blockquote{
	color:#D1DFEB;
	text-align: left;
}
em{
	color:#FFF86B;
}
a {
	text-decoration: none;
	color:#FF4F4F;
}
table, td, th { 
	border: 2px solid black; 
	border-collapse: collapse;
}

#pubg, #lol, #overwatch{
	border:3px solid red ;
}
#cse{
	left:500px;
	float: right;
	position:absolute;
}
.urgent{
	background-color: yellow;
}
.highlight{
	background-color: red;
}*/
